<template name="configureLoginServiceDialogForAOL">
  <p>
    First, you'll need to get a AOL Client ID. Follow these steps:
  </p>
  <ol>
    <li>
      Visit <a href="https://account.live.com/developers/applications/create" target="blank">https://account.live.com/developers/applications/create</a>
    </li>
    <li>
      Set Homepage URL to: <span class="url">{{siteUrl}}</span>
    </li>
    <li>
      Set Authorization callback URL to: <span class="url">{{siteUrl}}_oauth/aol</span>
    </li>
  </ol>
</template>
